<header class="navbar navbar-light navbar-expand-lg">
	<div class="container">
		<%= link_to 'Traveler 항공권', root_path, id: 'logo', class: 'navbar-brand' %>
		
		<!-- button toggler -->
		<button class="navbar-toggler"
						type="button"
						data-toggle="collapse"
						data-target="#navbarNav"
						aria-controls="navbarNav"
						aria-expanded="false"
						aria-label="Toogle navigation">
			<span class="navbar-toggler-icon"></span>	
		</button>

		<!-- navbar -->
		<nav class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<% if user_signed_in? %>
					<li class="nav-item"><p class="nav-link" style="padding-bottom: 0px; margin: 0;"><%= current_user.email %>님</p></li>
				<% end %>

				<li class="nav-item"><%= link_to '홈', root_path, class: 'nav-link' %></li>
				
				<% if user_signed_in? %>
					<li class="nav-item"><%= link_to '마이 페이지', root_path, class: 'nav-link' %></li>
					<li class="nav-item"><%= link_to '로그아웃', destroy_user_session_path, method: 'delete', class: 'nav-link' %></li>
				<% else %>
					<li class="nav-item"><%= link_to '로그인', new_user_session_path, class: 'nav-link' %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>